<div class="bs-example comments">

<div class="list-group">

{% for comment in comments %}
    <div href="#" class="list-group-item">
        {# 评论标题 #}
        <h4 class="list-group-item-heading">{{ comment.author.name }} {% if current_user == comment.author and not current_user.is_administrator() %}<a href="{{ url_for('main.delete_comment', id=comment.id) }}" class="btn btn-active">删除</a>{% endif %}：</h4>
        {# 评论内容 #}
        <p class="list-group-item-text">
            {% if comment.body_html %}
                {{ comment.body_html | safe }}
            {% else %}
                {{ comment.body }}
            {% endif %}
            <br>
            <br>
            {{ moment(comment.timestamp).fromNow() }}
            
        </p>

    </div>
{% endfor %}

</div>

</div>