{# 新的 #}

<div class="bs-example posts">
{% for post in posts %}
    
    <div class="media">
        {# 左侧的头像栏目 #}
        <div class="media-left media-top">
            {# 显示作者姓名并添加链接 #}
            <a href="{{ url_for('main.user', username=post.author.username) }}">
              <img class="media-object" src="{{ post.author.head_portrait }}" alt="64x64">
            </a>
        </div>
        
        {# 右侧的文章信息 #}
        <div class="media-body">
        {# 每一篇文章的标题 #}
        <h4 class="media-heading">
            <button class="btn btn-default">
                    {{ post.author.name }} 
            </button>
            |
            {# 显示评论条数 #}
            <a href="{{ url_for('main.post', id=post.id) }}#comments">
                <button class="btn btn-default">
                    评论 <span class="badge">{{ post.comments.count() }}</span>
                </button>
            </a>
            {# 显示修改或管理员修改 #}
            {% if current_user == post.author and not current_user.is_administrator() %}    
            |          
            <a href="{{ url_for('main.edit_post', id=post.id) }}">
                <button class="btn btn-default">
                    修改
                </button>
            </a>
            |
            <a href="{{ url_for('main.delete_post', id=post.id) }}">
                <button class="btn btn-active">
                    删除
                </button>
            </a>
            {% endif %}
            {# 管理员执行管理员修改 #}
            {% if current_user.is_administrator() %}
            |
            <a href="{{ url_for('main.edit_post', id=post.id) }}">
                <button class="btn btn-default">
                    管理员修改
                </button>
            </a>
            {% endif %}
        </h4>
        {# 评论内容 #}
        {# <p class=""> #}
        {# <br /> #}
        {# <div class="well list-group-item-text"> #}
            {% if post.body_html %}
                {{ post.body_html | safe }}
            {% else %}
                {{ post.body }}
            {% endif %}
{#             <br>
            {{ moment(post.timestamp).format('LLL')}}
            <br>
            {{ moment().format('LLL') }} #}
            <br>
            {{ moment(post.timestamp).fromNow() }}

        </div>
        {# </p> #}
        {# </div> #}
    </div>
{% endfor %}
</div>
