<div class="bs-example posts">

{% if not posts %}
    <p>点击<a href="{{url_for('main.index')}}">这里</a>让你的心情在云端飘扬~</p>
{% endif %}

{% for post in posts %}
    
    <div class="media">
        {# 左侧的头像栏目 #}
        <div class="media-left media-top">
            {# 显示作者姓名并添加链接 #}
            <a href="{{ url_for('main.user', username=post.author.username) }}">
              <img class="media-object" src="{{ post.author.head_portrait }}" alt="64x64">
            </a>
        </div>
        
        {# 右侧的文章信息 #}
        <div class="media-body">
        {# 每一篇文章的标题 #}
        <h4 class="media-heading">
            {# 一组按钮 修改等等 #}
            {% include "_post_edit_buttons.html" %}
        </h4>
            {% if post.body_html %}
                {{ post.body_html | safe }}
            {% else %}
                {{ post.body }}
            {% endif %}
            <br>
            {{ moment(post.timestamp).fromNow() }}
        </div>
    </div>
{% endfor %}
</div>
