<ul class="list-group">

{% for post in posts %}
    
    <li class="list-group-item">
        {# 每一篇文章的标题 #}
        <h4 class="list-group-item-heading">
            {# 显示作者姓名并添加链接 #}
            <a href="{{ url_for('main.user', username=post.author.username) }}" >
                <span class="label label-primary">
                    {{ post.author.name }}
                </span>
            </a>
            |
            {# 显示评论条数 #}
            <a href="{{ url_for('main.post', id=post.id) }}#comments">
                <span class="label label-primary">
                    评论：{{ post.comments.count() }} 
                </span>
            </a>
            {#  #}
            {% if current_user == post.author and not current_user.is_administrator() %}    
            |          
            <a href="{{ url_for('main.edit_post', id=post.id) }}">
                <span class="label label-primary">
                    修改
                </span>
            </a>
            {% endif %}
            {# 管理员执行管理员修改 #}
            {% if current_user.is_administrator() %}
            |
            <a href="{{ url_for('main.edit_post', id=post.id) }}">
                <span class="label label-primary">
                    管理员修改
                </span> 
            </a>
            {% endif %}
        </h4>
        {# 评论内容 #}
        <p class="list-group-item-text">
            {% if post.body_html %}
                {{ post.body_html | safe }}
            {% else %}
                {{ post.body }}
            {% endif %}
        </p>
    </li>
{% endfor %}

</ul>