{% extends "bootstrap/base.html" %}

{% block title %}
相见欢 - 那人却在灯火阑珊处
{% endblock %}

{% block styles %}
{{super()}}
<link rel="icon" href="http://o9hjg7h8u.bkt.clouddn.com/sgfour_favicon.ico">
<link href="{{ url_for('static', filename='bower_components/bootstrap-fileinput/css/fileinput.min.css') }}" media="all" rel="stylesheet" type="text/css" />
{# handwritten css #}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{# <script src="{{ url_for('static', filename='bower_components/bootstrap-fileinput/js/plugins/canvas-to-blob.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='bower_components/bootstrap-fileinput/js/plugins/sortable.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='bower_components/bootstrap-fileinput/js/plugins/purify.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='bower_components/bootstrap-fileinput/js/fileinput.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='bower_components/bootstrap-fileinput/themes/fa/theme.js') }}" type="text/javascript"></script> #}

{# i18n file #}
{# <script src="{{ url_for('static', filename='bower_components/bootstrap-fileinput/js/locales/zh.js') }}" type="text/javascript"></script> #}


{# 上传头像相关 #}
<script type="text/javascript" src="{{ url_for('static', filename='bower_components/plupload/js/plupload.full.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='bower_components/qiniu/dist/qiniu.min.js') }}"></script>

{# handwritten js #}
<script src="{{ url_for('static', filename='js/main.js') }}" type="text/javascript"></script>

{% endblock %}

{% block navbar %}
<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle"
			data-toggle="collapse" data-target=".navbar-collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/"><img src="http://o9hjg7h8u.bkt.clouddn.com/sgfour_head.png"/></a>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
			{% if current_user.is_authenticated %}
				<li><a href="{{ url_for('main.user_list') }}">用户列表</a></li>
			{% endif %}
			</ul>
			<ul class="nav navbar-nav navbar-right">
				{# 已登录，显示用户头像信息/用户名/退出 #}
				{% if current_user.is_authenticated %}
					<li><img class="img-responsive img-rounded profile-thumbnail" src="{{ current_user.head_portrait }}"></li>
					<li><a href="{{ url_for('main.user', username=current_user.username) }}">{{ current_user.username }}</a></li>
					<li><a href="{{ url_for('auth.logout') }}">退出</a></li>
					}
				{# 未登录，显示登录/注册 #}
				{% else %}
					<li><a href="{{ url_for('auth.login') }}">登录</a></li>
					<li><a href="{{ url_for('auth.register') }}">注册</a></li>
				{% endif %}
			</ul>
		</div>
	</div>
</nav>
{% endblock %}


{# 设置显示的flash信息 #}
{% block content %}

<div class="container">

	{% for message in get_flashed_messages() %}
	<div class="alert alert-warning">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		{{ message }}
	</div>
	{% endfor %}

	{% block page_content %}

	{% endblock %}
</div>

<footer class="bs-docs-footer" role="contentinfo"> 
	<div class="container">
		<ul class="bs-docs-footer-links"> 
			<li><a href="https://github.com/glrh111/flask2" target="_blank">GitHub · 相见欢</a></li>
			{# <li><a href="{{ url_for('main.index') }}" target="_blank"></a></li> #}
		</ul> 
		<p>
			页面设计全靠 <a href="http://getbootstrap.com/" target="_blank">Bootstrap</a> 和 <a href="https://google.com/" target="_blank">Google</a>、 <a href="https://www.baidu.com/" target="_blank">百度</a> 。
		</p>

		<p>
			Copyleft 2016 glrh11 All Rights Not Reserved.
		</p>
	</div> 
</footer>

{% endblock %}
