{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}

<div class="page-header">
    <h1>修改资料</h1>
</div>
    
<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    {# 只有自己可以修改自己的头像，管理员都不行，哈哈 #}
    {% if current_user == user %}
    
      <div id="upload_head_container">
        {# 拖拽上传区域 #}
        <div  id="upload_head_drop"></div>
        {# 上传按钮 #}
        <button id="upload_head_button" class="btn btn-default"><span class="glyphicon glyphicon-facetime-video" ></span> 上传头像</button>

        <label id="upload_message"></label>
      </div>
      <br>
    {% endif %}



    {{ wtf.quick_form(form) }}

</div>

{% endblock %}