{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block page_content %}

{# 文章输入框框 #}
<div class="page-header">

{% if not current_user.is_authenticated %}
<p>新用户请点击注册<a href="{{ url_for('auth.register') }}">注册</a></p>
{% endif %}

<div>
{% if  current_user.can(Permission.WRITE_ARTICLES) %}
    {{ wtf.quick_form(form) }}
{% endif %}
</div>

</div>



{# 文章列表 #}
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">文章列表</h3>
  </div>
  <div class="panel-body">
    {% include "_posts.html" %}
  </div>
</div>

<div class="pagination">
{{ macros.pagination_widget(pagination, 'main.index') }}
</div>

{% endblock %}