{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block scripts %}
    {{ super() }}
    {{ pagedown.include_pagedown() }}
{% endblock %}



{% block page_content %}

    {# 文章输入框框 #}
    <div class="page-header">

    {% if not current_user.is_authenticated %}
    <p>请<a href="{{ url_for('auth.register') }}">注册</a>或<a href="{{ url_for('auth.login') }}">登录</a>以使用全部功能。</p>
    {% endif %}

    <div>
    {% if  current_user.can(Permission.WRITE_ARTICLES) %}
        {{ wtf.quick_form(form) }}
    {% endif %}
    </div>

    <p>使用 <a href="https://www.zybuluo.com/yinzhi6367/note/59158" target="_blank">Markdown</a> 驱动。</p>

    </div>


{# {% if current_user.is_authenticated %} #}

    {# 文章列表 #}
    {% include "_posts.html" %}

    {# 页码 #}
    <div class="pagination">
    {{ macros.pagination_widget(pagination, 'main.index') }}
    </div>

{# {% endif %} #}

{% endblock %}