{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block page_content %}

<div class="page-header">

    <div class="media comments">
        {# 左侧的头像栏目 #}
        <div class="media-left media-top">
            {# 显示作者姓名并添加链接 #}
            <a href="{{ url_for('main.user', username=post.author.username) }}">
              <img class="media-object" src="{{ post.author.head_portrait }}">
            </a>
        </div>
        
        {# 右侧的文章信息 #}
        <div class="media-body">
        {# 每一篇文章的标题 #}
        <h4 class="media-heading">
            {# 一组按钮 修改等等 #}
            {% include "_post_edit_buttons.html" %}
        </h4>


            {% if post.body_html %}
                {{ post.body_html | safe }}
            {% else %}
                {{ post.body }}
            {% endif %}
        </div>

    </div>

    {# 评论表单 #}
    {# 丑的一比 #}
    {% if current_user.can(Permission.COMMENT) %}    
        {{ wtf.quick_form(form) }}
    {% endif %}

</div>

    {# 评论列表 #}
    {# 空白的不显示 #}
    {% if comments %}
    
        {% include "_comments.html" %}

    {% endif %}



    {# 页码 #}
    <div class="pagination">
    {{ macros.pagination_widget(pagination, 'main.post', id=post.id) }}
    </div>


{% endblock %}