{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block page_content %}

<div class="page-header">

    <div class="media comments">
        {# 左侧的头像栏目 #}
        <div class="media-left media-top">
            {# 显示作者姓名并添加链接 #}
            <a href="{{ url_for('main.user', username=post.author.username) }}">
              <img class="media-object" src="{{ post.author.head_portrait }}">
            </a>
        </div>
        
        {# 右侧的文章信息 #}
        <div class="media-body">
        {# 每一篇文章的标题 #}
        <h4 class="media-heading">
            <button class="btn btn-default">
                    {{ post.author.name }}
            </button>
            

            {# 显示修改或管理员修改 #}
            {% if current_user == post.author and not current_user.is_administrator() %}    
            |          
            <a href="{{ url_for('main.edit_post', id=post.id) }}">
                <button class="btn btn-default">
                    修改
                </button>
            </a>
            |
            <a href="{{ url_for('main.delete_post', id=post.id) }}">
                <button class="btn btn-active">
                    删除
                </button>
            </a>
            {% endif %}
            {# 管理员执行管理员修改 #}
            {% if current_user.is_administrator() %}
            |
            <a href="{{ url_for('main.edit_post', id=post.id) }}">
                <button class="btn btn-default">
                    管理员修改
                </button>
            </a>
            {% endif %}
        </h4>


            {% if post.body_html %}
                {{ post.body_html | safe }}
            {% else %}
                {{ post.body }}
            {% endif %}
        </div>

    </div>






    {# 评论表单 #}
    {# 丑的一比 #}
    {% if current_user.can(Permission.COMMENT) %}    
        {{ wtf.quick_form(form) }}
    {% endif %}
        

        {# 没写好，数据库不能链接，艹 #}
        {# bootstrap2里面的，3好像不支持，艹 #}
{#         <div class="input-append">
          <input class="span2" id="appendedInputButton" type="text">
          <button class="btn" type="button">评论</button>
        </div> #}

</div>


{# 外框 #}

    {# 评论列表 #}
    {# 空白的不显示 #}
    {% if comments %}
    
        {% include "_comments.html" %}

    {% endif %}



    {# 页码 #}
    <div class="pagination">
    {{ macros.pagination_widget(pagination, 'main.post', id=post.id) }}
    </div>


{% endblock %}