{% extends "base.html" %}
{% block page_content %}
{% import "_macros.html" as macros %}


<div class='page-header'>

    <div class="media user">
        {# 左侧的头像栏目 #}
        <div class="media-left media-top">
            {# 显示作者姓名并添加链接 #}
            <a href="#">
              <img class="media-object" src="{{ user.head_portrait }}">
            </a>
        </div>
        
        {# 右侧的文章信息 #}
        <div class="media-body">
        {# 每一篇文章的标题 #}
        <h4 class="media-heading">
            {# 关注 - 粉丝数量等按钮 #}
            {% include "_user_follow_buttons.html" %}
        </h4>
       
        {# 评论内容 #}
        {# <p class=""> #}
        {# <br /> #}
        {# <div class="well list-group-item-text"> #}
        
        {# 位置 #}
        {% if user.location %}
            <p>
                <span class="glyphicon glyphicon-map-marker"></span>&nbsp;{{ user.location }}
            </p>
        {% endif %}

        {# 手机号码 #}
        {% if user.phone_number %}
            {# 本人，或者允许显示：显示手机号码 #}
            {% if current_user == user or user.phone_number_seenable %}
                <p>
                    <span class="glyphicon glyphicon-phone"></span>&nbsp;{{ user.phone_number }}
                
                {# 如果是本人，显示修改按钮 #}
                    {% if current_user == user %}
                        <a href="{{url_for('main.phone_number_seenable_toggle', id=user.id)}}">
                        {# 显示禁用按钮 #}
                            {% if user.phone_number_seenable %}
                                <span class="default glyphicon glyphicon-ban-circle"></span>
                            {% else %}
                                <span class="glyphicon glyphicon-globe"></span>
                            {% endif %}
                        </a>
                    {% endif %}
                </p>
            {% endif %}
        {% endif %}

        {# 电子邮箱 #}
        {% if user.email %}
            <p>
                <span class="glyphicon glyphicon-envelope"></span>&nbsp;{{ user.email }}
            </p>
        {% endif %}
        

        {# 上次登录时间 #}
        {% if user.last_seen %}
            <p>
                <span class="glyphicon glyphicon-resize-small"></span>&nbsp;{{ moment(user.last_seen).fromNow() }}
            </p>
        {% endif %}

        {# 个人介绍 #}
        <p>
            {% if user.about_me %}
            <span class="glyphicon glyphicon-sunglasses"></span>&nbsp;{{ user.about_me }}
            {% endif %}
        </p>


        </div>  {# media body end #} 
    </div> {# media user end #}

</div> {# page header end #}


{# posts has style with itself #}

{% include "_posts.html" %}




<div class="pagination">
{{ macros.pagination_widget(pagination, 'main.user', username=current_user.username) }}
</div>


{% endblock %}