{% extends "base.html" %}
{% block page_content %}
{% import "_macros.html" as macros %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript" src="{{ url_for('static', filename='js/plupload/plupload.full.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/qiniu.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}

<div class='page-header'>


    <div class="media user">
        {# 左侧的头像栏目 #}
        <div class="media-left media-top">
            {# 显示作者姓名并添加链接 #}
            <a href="#">
              <img class="media-object" src="{{ user.head_portrait }}">
            </a>
        </div>
        
        {# 右侧的文章信息 #}
        <div class="media-body">
        {# 每一篇文章的标题 #}
        <h4 class="media-heading">
            <button class="btn btn-default">
                    {{ user.name }} 
            </button>
            
            {% if current_user.can(Permission.FOLLOW) and user != current_user %}
            |
                {% if not current_user.is_following(user) %}
                    <a href="{{ url_for('main.follow', username=user.username) }}" class="btn btn-default">关注</a>
                {% else %}
                    <a href="{{ url_for('main.unfollow', username=user.username) }}" class="btn btn-default">取消关注</a>
                {% endif %}
            {% endif %}

            |
            
            <a href="{{ url_for('main.followers', username=user.username) }}" class="btn btn-default">
                粉丝: <span class="badge">{{ user.followers.count() }}</span>
            </a>

            

            {% if current_user.is_authenticated and user != current_user and user.is_following(current_user) %}
            |
                <span class="label label-default">正在关注你</span>
            {% endif %}

            </h4>
       
        {# 评论内容 #}
        {# <p class=""> #}
        {# <br /> #}
        {# <div class="well list-group-item-text"> #}

        {% if user.name %}
        <p>姓名：{{ user.name }}</p>
        {% endif %}

        {% if user.location %}
            <p>地址：{{ user.location }}</p>
        {% endif %}

        {% if user.last_seen %}
            <p>上次登录时间：{{ moment(user.last_seen).fromNow() }}</p>
        {% endif %}

        <p>
            邮件地址：<a href="mailto:{{ user.email }}">{{ user.email }}</a>
        </p>

        {% if user == current_user and not current_user.is_administrator() %}
            <a class="btn btn-default" href="{{ url_for('.edit_profile') }}">修改资料</a>
        {% endif %}
        {% if current_user.is_administrator() %}
            <a class="btn btn-default" href="{{ url_for('.edit_profile_admin', id=user.id) }}">管理员修改</a>
        {% endif %}

        </div>  {# media body end #} 
    </div> {# media user end #}


{# 显示关注相关按钮 #}
{# 如果不是当前用户，没显示这两个按钮：关注，取消关注 #}



{# <a href="{{ url_for('main.followed_by', username=user.username) }}">
    关注: <span class="badge">{{ user.followed.count() }}</span>
</a> #}


{# 头像上传相关 #}


</div> {# page header end #}


{# posts has style with itself #}

{% include "_posts.html" %}




<div class="pagination">
{{ macros.pagination_widget(pagination, 'main.user', username=current_user.username) }}
</div>


{% endblock %}