{% extends "base.html" %}
{% block page_content %}
{% import "_macros.html" as macros %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript" src="{{ url_for('static', filename='js/plupload/plupload.full.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/qiniu.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}

<div class='page-header'>
	<h1>{{ user.username }}</h1>

	
	{% if user.name %}
		<p>姓名：{{ user.name }}</p>
	{% endif %}
	{% if user.location %}
		<p>地址：{{ user.location }}</p>
	{% endif %}

	{% if user.last_seen %}
	<p>上次登录时间：{{ moment(user.last_seen).fromNow() }}
	{% endif %}

	<p>邮件地址：<a href="mailto:{{ user.email }}">{{ user.email }}<a></p>

{% if user == current_user and not current_user.is_administrator() %}
	<a class="btn btn-default" href="{{ url_for('.edit_profile') }}">修改资料</a>
{% endif %}
{% if current_user.is_administrator() %}
	<a class="btn btn-default" href="{{ url_for('.edit_profile_admin', id=user.id) }}">管理员修改</a>
{% endif %}
{# 显示关注相关按钮 #}
{% if current_user.can(Permission.FOLLOW) and user != current_user %}
    {% if not current_user.is_following(user) %}
        <a href="{{ url_for('main.follow', username=user.username) }}" class="btn btn-primary">关注</a>
    {% else %}
        <a href="{{ url_for('main.unfollow', username=user.username) }}" class="btn btn-primary">取消关注</a>
    {% endif %}
{% endif %}

<a href="{{ url_for('main.followers', username=user.username) }}">
    粉丝: <span class="badge">{{ user.followers.count() }}</span>
</a>

{# <a href="{{ url_for('main.followed_by', username=user.username) }}">
    关注: <span class="badge">{{ user.followed.count() }}</span>
</a> #}

{% if current_user.is_authenticated and user != current_user and user.is_following(current_user) %}
    <span class="label label-default">正在关注你</span>
{% endif %}

{# 头像上传相关 #}

</div>


<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">文章列表</h3>
  </div>
  <div class="panel-body">
    {% include "_posts.html" %}
  </div>
</div>



<div class="pagination">
{{ macros.pagination_widget(pagination, 'main.user', username=current_user.username) }}
</div>


{% endblock %}